src/main/mule/walia-ecommerce.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
    <apikit:config name="walia-ecommerce-config" api="resource::0803abe7-b1fe-478b-beb1-297c994ca040:walia-ecommerce:1.0.0:raml:zip:walia-ecommerce.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="walia-ecommerce-main">
        <http:listener path="/api/*" config-ref="walia-ecommerce-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="walia-ecommerce-config" />
        <error-handler>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="walia-ecommerce-console">
        <http:listener path="/console/*" config-ref="walia-ecommerce-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="walia-ecommerce-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\customers\(customer_id):walia-ecommerce-config">
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="customer_id">attributes.uriParams.'customer_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The customer deleted successfully!"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\products\(product_id):walia-ecommerce-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="product_id">attributes.uriParams.'product_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="34fa1bd1-fffa-484c-b7c5-b7107ee1b65f" name="walia-ecommerce-product-delete"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The product deleted successfully!"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\customers\(customer_id):application\json:walia-ecommerce-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="customer_id">attributes.uriParams.'customer_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The customer updated successfully!"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\products\(product_id):application\json:walia-ecommerce-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="product_id">attributes.uriParams.'product_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="72abeb77-c8ab-45dc-9b90-0ece36d7bc7f" name="walia-ecommerce-product-update"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "The product updated successfully!"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers:walia-ecommerce-config">
        <db:select doc:name="Select" doc:id="bb3d3983-f422-45e9-acc1-caa22c6b11d8" config-ref="WaliaEcommerce_Database_Config">
			<db:sql ><![CDATA[select * from users;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products:walia-ecommerce-config">
        <flow-ref doc:name="Flow Reference" doc:id="fea9f486-25fe-446a-9bf9-dc4addce73d9" name="walia-ecommerce-product-retrieve"/>
    </flow>
    <flow name="get:\customers\(customer_id):walia-ecommerce-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="customer_id">attributes.uriParams.'customer_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  first_name: "Abebe",
  last_name: "Kebede",
  user_name: "abebe.kebede",
  password: "5f4dcc3b5aa765d61d8327deb882cf99",
  birth_date: "1990-01-01",
  phone: "+251912345678",
  email: "abebe.kebede@example.com",
  address: "Addis Ababa",
  role: "user",
  points: 0
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(product_id):walia-ecommerce-config">
        <set-variable value="#[attributes.uriParams.product_id]" doc:name="Set Variable" doc:id="cfdd01c2-1adb-4762-96b3-866687194d5e" variableName="product_id"/>
        <flow-ref doc:name="Flow Reference" doc:id="6f624f01-8dc2-4482-aa91-6ca9ca56bb5c" name="walia-ecommerce-product-retrive-specific-products"/>
    </flow>
    <flow name="post:\login:application\json:walia-ecommerce-config">
        <flow-ref doc:name="Flow Reference" doc:id="2a73cbdd-9d9d-4b79-ad2b-45ea486d62e2" name="walia-ecommerce-users-login"/>
    </flow>
    <flow name="post:\products:application\json:walia-ecommerce-config">
        <ee:transform doc:name="Transform Message" doc:id="9315b925-cd2a-4f75-b0c1-e1bdd8b585fd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="d5b4e8de-c323-4035-8061-c09474d2b7bd" name="walia-ecommerce-product-creation"/>
    </flow>
    <flow name="post:\register:application\json:walia-ecommerce-config">
		<set-variable value="#[payload.email]" doc:name="Set Variable" doc:id="8ff05726-f59b-4de9-8352-e0fcd026edbd" variableName="email"/>
		<flow-ref doc:name="Flow Reference" doc:id="7f4bc144-8f81-4c70-8895-0c18148b7c54" name="walia-ecommerce-users-registration"/>
		<async doc:name="Async" doc:id="50845427-0793-42e9-a45b-d84cd8fb404e" >
			<email:send doc:name="Send" doc:id="ce112548-255a-4607-aeca-57be9fdcb17a" config-ref="Email_SMTP" fromAddress="craftsoft.knowledge@gmail.com" subject="Walia Ecommerce Registration">
				<email:to-addresses >
					<email:to-address value="#[vars.email]" />
				</email:to-addresses>
				<email:body contentType="text/plain" >
					<email:content ><![CDATA[Thanks for signup to our ecommerce site.]]></email:content>
				</email:body>
			</email:send>
		</async>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Congratulations! Registered successfully!"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="walia-ecommerce-orders" doc:id="4ec4e094-3974-428c-b18d-d89f892c06f2" >
		<http:listener doc:name="Listener" doc:id="0fd3d8ea-3bfc-49d6-b457-23ff2429f103" config-ref="walia-ecommerce-httpListenerConfig" path="/api/orders" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="7837ded3-1711-4152-ab68-ff8c271610e9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"user_id": attributes.queryParams.user_id,
	"order_date": now() as String {format: "yyyy-MM-dd"},
	"status": 1
}


]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="order_id" ><![CDATA["w" ++ " " ++ now()]]></ee:set-variable>
				<ee:set-variable variableName="product_id" ><![CDATA[attributes.queryParams.product_id]]></ee:set-variable>
				<ee:set-variable variableName="note" ><![CDATA[attributes.queryParams.note]]></ee:set-variable>
				<ee:set-variable variableName="comments" ><![CDATA[attributes.queryParams.comments]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="ebdedaae-e520-40ad-aa86-398d45cc27c7" name="walia-ecommerce-order-managementSub_Flow"/>
		<ee:transform doc:name="Transform Message" doc:id="a9acb6b7-51e5-4c51-bfa1-eddfb1a88a53" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Your order is processed successfully! You can continue to payment"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="walia-ecommerce-payment" doc:id="4d27c9fb-39cd-49f1-a5d2-444b5bfa8502" >
		<http:listener doc:name="Listener" doc:id="51f9557b-e15f-41d5-b774-8f3657267522" config-ref="walia-ecommerce-httpListenerConfig" path="/pay" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="bbcd8e6f-8a50-47c7-84d7-4e2001f77ffb">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="invoice_id"><![CDATA[floor((random()*1000000000000) as Number)]]></ee:set-variable>
				<ee:set-variable variableName="order_id"><![CDATA[attributes.queryParams.order_id]]></ee:set-variable>
				<ee:set-variable variableName="user_id" ><![CDATA[attributes.queryParams.user_id]]></ee:set-variable>
				<ee:set-variable variableName="amount" ><![CDATA[attributes.queryParams.amount]]></ee:set-variable>
				<ee:set-variable variableName="numb" ><![CDATA[attributes.queryParams.numb]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="4d8e1784-890c-4a4f-ba5e-c6dee5b4ff25" path="/rates/latest" config-ref="HTTP_Request_configuration">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"symbols" : "ETB",
	"apikey" : "7957fca899574c3cab77cf696b9fbeea"
}]]]></http:query-params>
		</http:request>
		<set-variable value="#[floor(payload.rates.ETB as Number)]" doc:name="Set Variable" doc:id="a427e4eb-20ec-4838-a554-b9c3c53ba93e" variableName="birr"/>
		<flow-ref doc:name="Flow Reference" doc:id="de4b3bc8-766f-4d90-b751-a700d79a2057" name="walia-ecommerce-payment-Sub_Flow"/>
		<ee:transform doc:name="Transform Message" doc:id="e9134417-e63b-4005-8b66-dedc8ea27612" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Your payment is processed successfully!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
